*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000;
    font-family: sans-serif;
    
}


.container{
    text-align: center;
    color: #fff;
}

.container h1{
    padding-top: 50px;
    font-size: 150px;
}

.container h2{
    margin-top: 50px;
    font-size: 150px;
}

.container button{
    margin-top: 100px;
    padding: 20px 50px;
    font-size: 30px;
    margin-left: 40px;
    width: 300px;
    color: white;
    border-radius: 10px;
    border: none;
    
}
button{
    border: none;
}

.container button:nth-child(1){
    background-color: #63BD14;
}
.container button:nth-child(2){
    background-color: #3987FB;
}

.container button:nth-child(3){
    background-color: #3987FB;
}

.container button:nth-child(4){
    background-color: red;
}


#list{
    display: block;
}

#list div {
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    width: 950px;
    height: 50px;
    font-size: 30px;
    background-color: transparent;
    color: white;
}

#list div div{
    background-color: gray;
    padding: 10px;
    border-radius: 5px;
}

#list  button{
    margin-left: 10px;
    margin-top: 20px;
    width: 50px;
    height: 50px;
    color: white;
    font-size: 40px;
    background-color: red;
    border-radius: 5px;

}
